<div ng-init="init()" class="note animated bounceInUp">
    <ion-header-bar align-title="left" class="bar-stable note-bar">
        <div class="buttons">
            <button class="button button-icon icon ion-chevron-left" ng-click="back()"></button>
        </div>
        <h1 class="title">{{title}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-checkmark-round" ng-click="submit()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="note-content">

        <form name="myForm">
            <div contenteditable min-height class="note-edit"  ng-model="note.content" strip-br="true" required>

            </div>
            <hr>

        </form>
    </ion-content>
	<ion-footer-bar align-title="left" class="bar hide-on-keyboard-open" style="background-color: #e0f2f1;">
		<div  class="button-bar">
			<a class="button button-icon icon ion-wand footer-icon "></a>
			<a class="button button-icon icon ion-image footer-icon "></a>
			<a class="button button-icon icon ion-ios-alarm footer-icon "></a>
			<a class="button button-icon icon ion-share footer-icon "></a>
		</div>
	</ion-footer-bar>

</div>