<ion-side-menus ng-init="init()" class="home animated fadeIn">
    <!-- 中间内容 -->
    <ion-side-menu-content>
        <ion-header-bar align-title="center" class="home-bar">
            <a class="button home-button" ng-click="toggleLeft()">
                <i class="icon ion-navicon-round"></i>
            </a>

            <h1 class="title home_title">便签</h1>

        </ion-header-bar>
        <i class="icon huge orange ion-android-add-circle icon-note-add" ng-click="addNote()"></i>
        <ion-content class="home-container">
            <div class="ui two column card-container">
                <div class="row card-row own-list-animation" ng-repeat="row in notes track by $index " >
                    <div class="column card-single" special-height ng-repeat="note in row.data track by $index " ng-class="'card_'+note.back_color" >
                        <div class="content">
                            {{note.content |  cut:true:45:'...' }}
                        </div>
                        <div class="extra content">
                            <span><i class="icon ion-clock"></i>{{note.revise_time}} </span>
                        </div>
                    </div>
                </div>
             </div>
        </ion-content>
     </ion-side-menu-content>

    <!-- 左侧菜单 -->
    <ion-side-menu side="left">
        <ion-header-bar align-title="center" class="home-bar">

            <h1 class="title home_title">设置</h1>

        </ion-header-bar>
        <ion-content>
            <div class="list card">

                <a href="#" class="item item-icon-left">
                    <i class="icon ion-home"></i>
                    Enter home address
                </a>

                <a href="#" class="item item-icon-left">
                    <i class="icon ion-ios-telephone"></i>
                    Enter phone number
                </a>

                <a href="#" class="item item-icon-left">
                    <i class="icon ion-wifi"></i>
                    Enter wireless password
                </a>

                <a href="#" class="item item-icon-left">
                    <i class="icon ion-card"></i>
                    Enter card information
                </a>

            </div>
        </ion-content>
    </ion-side-menu>


</ion-side-menus>
